<div class="row g-4">
  @for (bloc of blocs; track bloc.titre) {
  <div class="col-md-6 col-lg-3">
    <div class="card shadow-sm h-100 admin-card">
      <div class="card-body">
        <h5 class="card-title">{{ bloc.titre }}</h5>
        <p class="card-text">{{ bloc.description }}</p>
      </div>
    </div>
  </div>
  }
</div>

@if (isBrowser && globeComponent) {
  <div class="mt-4 d-flex justify-content-center">
    <ng-container *ngComponentOutlet="globeComponent"></ng-container>
  </div>
}
